{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "syntax-dynamic-import",

    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@tampan/data": "./src/data",
          "@tampan/graph-query": "./src/graph-query",
          "@tampan/hoc": "./src/hoc",
          "@tampan/hooks": "./src/hooks",
          "@tampan/img": "./src/assets/images",
          "@tampan/pages": "./src/pages",
          "@tampan/utils": "./src/utils"
        }
      }
    ]
  ]
}
